<h1><%=@compliment.message.sample %></h1>
<div class="item"><img src="images/<%=@compliment.image.sample %>"></div>
<div class="link"><a href="../compliment" class="classname">Need more compliments?</a></div>