<h2>Emergency Compliments</h2>
<h1><%=@compliment.message.sample %></h1>
<div class="item"><img src="images/<%=@compliment.image.sample %>">
<a href="../compliment" class="classname">Need more compliments?</a>
</div>